@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Mukta&family=Roboto&family=Sofia+Sans+Condensed:wght@400;500&display=swap");



:root {
  font-family: "Kanit", sans-serif;
}

#navPlayerInfo{
    list-style-type:none;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #125c56;
    margin-bottom: 0;
  }
#navFormContainer {

    width: 6em;
    background-color: #884c65;
    box-shadow: .25em .25em;
    border-radius: .25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .submitButton:active{
    box-shadow: none;
  }
  .submitButton
  {
    box-shadow: .2em .2em;
  }
  input{
    background-color: #125c56;
    color:#08121b;
    border: none;
    margin: 1em;
    border-radius: 1em;
  }
  #navFormContainerHighScore
  {
    background-color: #884c65;
    box-shadow: .25em .25em;
    border-radius: .25em;
    width: 10em;
    height: 4em;
    display: flex;
    flex-direction: column;
  }
  #filter,#filter:focus{
    padding: 0;
    margin: 0;
    outline: none;
  }
  #submit , #Delete{
    border: solid;
  }
  h3 {
    text-align: center;
  }
  h1{
    text-align: center;
  }
  a,a:hover,a:visited{
    height: auto;
    outline: none;
    text-decoration: underline;
    color:inherit;
  }
  article{
    margin: auto;
    margin-top: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #884c65;
    box-shadow: .25em .25em;
    border-radius: .25em;
  }